## In the whole exercise, we will work with the "mpg" dataset from seaborn dataset. Start by loading dataset "mpg" from the load_dataset method in seaborn module. The goal will be to use linear regression to predict mpg - miles per gallon.

a) Start by doing some initial EDA such as info(), describe() and figure out what you want to do with the missing values.

b) Use describe only on those columns that are relevant to get statistical information from.

c) Make some plots on some of the columns that you find interesting.

d) Check if there are any columns you might want to drop.

In [3]:
import seaborn as sns
import pandas as pd

In [5]:
df = sns.load_dataset("mpg")

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [6]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [16]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [18]:
# Visa rader där horsepower är NaN
df[df['horsepower'].isnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

## Vad göra med nullvärden, linjär regression? Medelvärde eller medianvärde? Ta bort dem? Med median påverkar inte extremvärdena lika mycket

In [23]:
toyota_df = df[df['name'].str.contains("toyota", case=False)]
toyota_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
57,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
108,20.0,4,97.0,88.0,2279,19.0,73,japan,toyota carina
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
131,32.0,4,71.0,65.0,1836,21.0,74,japan,toyota corolla 1200
144,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona
167,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
205,28.0,4,97.0,75.0,2155,16.4,76,japan,toyota corolla
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
235,26.0,4,97.0,75.0,2265,18.2,77,japan,toyota corolla liftback
267,27.5,4,134.0,95.0,2560,14.2,78,japan,toyota corona
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
318,29.8,4,134.0,90.0,2711,15.5,80,japan,toyota corona liftback
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
356,32.4,4,108.0,75.0,2350,16.8,81,japan,toyota corolla
361,25.4,6,168.0,116.0,2900,12.6,81,japan,toyota cressida
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt